.ellipsis-text {
  display: flex;
  flex:    0 1 auto;
}

.ellipsis-text > * {
  display:       block;
  min-width:     0;
  text-overflow: ellipsis;
  white-space:   nowrap;
  overflow:      hidden;
}
